<!-- <div class="container" *ngIf="tests.length > 0">
  <ul class="test-list">
    <li *ngFor="let test of tests">
      <div class="form-check">
        <label class="form-check-label">
          <input class="checkbox" type="checkbox"> {{ test.testText }}
        </label>
      </div>
    </li>
  </ul>
</div> -->

<!-- <div class="container">
  <div *ngIf="tests.length === 0">
    There are no test.
  </div>
</div> -->

<!-- <h1>Angular Router App</h1>
<nav>
  <ul>
    <li><a routerLink="/futurama-component" routerLinkActive="active" ariaCurrentWhenActive="page">Futurama Component</a></li>
  </ul>
</nav>
<router-outlet></router-outlet> -->

<!-- <div>
    {{ test[0].testText }}
  </div> -->

<!-- <div *ngFor="let test of tests">
    {{ test.testText }}
  </div> -->

<!-- Test Subject -->
<div style="background-color: #051717; min-height: 100vh;" class="container2">
  <div class="left-container" (click)="navigateToRoute()" style="cursor: pointer;">
    <div style="display: flex; align-items: center; flex-direction: column;">
      <h2 style="font-family:cursive;">Employees</h2>
      <p>Click here to start !</p>
    </div>
  </div>
  <div class="the-rest-container">
    <app-futurama2 *ngIf="showFuturama"></app-futurama2>
  </div>
</div>

<!-- <div style="background-color: #051717; height: 100vh;" class="container2">
  
  <div class="left-container" (click)="navigateToRoute()">
    <h2 style="font-family:cursive;">Employees</h2>
  </div>
  <div class="the-rest-container">
    <app-futurama2 *ngIf="showFuturama"></app-futurama2>
  </div>
</div> -->